<div id="right_column_flip" class="right_column_flip">
<h2>Pomoč</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "Uvod", help_about_path %></li>
  <li><%= link_to_unless_current "Ustvarjanje zahteve", help_requesting_path %></li>
  <li><%= link_to_unless_current "Zasebnost", help_privacy_path %></li>
  <li><%= link_to_unless_current "Pooblaščene osebe za posredovanje IJZ", help_officers_path %></li>
  <li><%= link_to_unless_current "O programski opremi", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Zasluge", help_credits_path %></li>
  <li><%= link_to_unless_current " Aplikacijski programski vmesnik (API) ", help_api_path %></li>
  <li><%= link_to_unless_current "Napredno iskanje", advanced_search_path %></li>
  <% if feature_enabled?(:alaveteli_pro) %>
    <li><%= link_to_unless_current "Pro", help_pro_path %></li>
  <% end %>
</ul>

<h2 id="contact" class="contact">Kontaktirajte nas</h2>
<p>Če niste našli odgovora na svoje vprašanje, ali nam želite sporočiti še kaj o tej strani, <a href="<%= help_contact_path %>">nas kontaktirajte</a>.
</p>
</div>
