<% @title = "O nas" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">O projektu <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose"Čemu je platforma <%= site_name %> namenjena? <a href="#purpose">#</a> </dt>
    <dd>Pomaga vam pridobiti informacije o tem, kaj počnejo javni organi. 
    </dd>

    <dt id="premise">Kako stran deluje? <a href="#premise">#</a> </dt>
    <dd>Izberete javni organ, od katerega želite prejeti informacije, in mu na kratko opišete, kaj želite izvedeti. Vašo zahtevo nato posredujemo organu. Vsak odziv pooblaščene osebe je nato avtomatsko objavljen, da ga lahko vi in vsi ostali kadar koli preverijo.
    </dd>

    <dt id="whybother_me">Zakaj bi se ukvarjali s tem? <a href="#whybother_me">#</a> </dt>
    <dd>Plačujete davke, vlada pa upravlja s tem denarjem. Z njim ravna na različne načine, ki lahko vplivajo na vaše življenje: vlaga ga v zdravstvo, obrambo, izobraževanje ipd. Včasih ga vlaga smotrno, včasih pa malo manj. Več ko izvemo o delovanju vlade in javnega sektorja, lažje bomo predlagali izboljšave in pohvalili primere dobre prakse.</dd>

    <dt id="whybother_them">Zakaj bi se javni organ sploh trudil z odgovarjanjem? <a href="#whybother_them">#</a> </dt>
    <dd>V skladu z Zakonom o dostopu do informacij javnega značaja (ZDIJZ) je dolžan odgovoriti. Odgovor bo bodisi vseboval zahtevano informacijo, ali pa bo ponudil legitimen razlog, zakaj mora informacija ostati zaupna.</dd>

    <dt id="reporting">Kaj, če opazim zahtevo, ki se mi zdi neprimerna? <a href="#reporting">#</a></dt>
    <dd>
      <p>
        ZDIJZ ne zagotavlja pravice do zahtev po osebnih podatkih ali pa neprimernih zahtev.  </p>

      <p>
        Če menite, da zahteva ni primerna, jo lahko prijavite administratorjem te strani.
      </p>
    </dd>

    <dt id="reporting_unavailable">Zakaj mi stran ne dovoli prijaviti nekaterih zahtev? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        Če je bila zahteva že prijavljena administratorjem, je ne morete prijaviti še enkrat. Na ta način se izognemo temu, da bi administratorji isto obvestilo prejeli večkrat, še preden bi zadevo lahko preverili.</p>

      <p>
        Če je bila zahteva že prijavljena in se je administrator odločil, da je ne bo umaknil, lahko uporabite obrazec na podstrani z zahtevami. Na ta način boste stopili v kontakt z administratorji, v kolikor menite, da bi morala biti določena zahteva skrita.</p>
    </dd>

    <dt id="who">Kdo ustvarja spletno stran <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd><%= site_name %> temelji na mednarodni platformi <a href="http://alaveteli.org">Alaveteli</a>, ki jo je ustvarila in jo vodi organizacija <a href="http://www.mysociety.org">mySociety</a>. V slovenski prostor je platformo prenesla nevladna organizacija Transparency International Slovenia v sklopu projekta <i>Vprašaj državo: enostaven dostop do informacij javnega značaja</i>, ki ga financira Ministrstvo za javno upravo. Platformo je vzpostavil inštitut Danes je nov dan. Če vam je všeč, kar počnemo, nas lahko <a href="https://www.transparency.si/podpri/>podprete</a>.
    </dd>