<% @title = "Aplikacijski programski vmesnik (API)" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Uvod</dt>
    <dd>
      <p>Ta stran pojasni, kako lahko druge spletne strani ali programska oprema sodelujejo s platformo <%= site_name %> preko "API".
      </p>

      <p> <%= site_name %> še nima celotnega aplikacijskega programskega vmesnika (API), a ves čas dodajamo elemente, ki so z vidika uporabe podobni API.
      </p>
    </dd>

    <dt>Povezave do novih zahtev</dt>
    <dd>
      <p> 
        To so parametri, ki jih lahko dodate URL povezavam, bodisi v novi URL povezavi ali pa v obrazcu.
      </p>
        <ul>
          <li> <strong>naslov</strong> - privzeti povzetek nove zahteve.</li>
          <li> <strong>splošno_pismo</strong> - splošno besedilo v jedru pisma. Pozdrav (Dragi...) in podpis (Lep pozdrav...) uokvirjata besedilo. </li>
          <li> <strong>telo</strong> - alternativa splošnemu pismu, ki vzpostavi celotno splošno besedilo zahteve, da lahko prilagodite tudi nagovor in pozdrav </li>
          <li> <strong>oznake</strong> - s presledkom ločen seznam oznak, da lahko nato najdete in povežete zahteve, ustvarjene kasneje, npr. <em>lokalnaporaba_id:12345</em>. Ločilo : označuje, da gre za strojno oznako. Vrednosti strojnih oznak lahko vključujejo tudi podpičja.
        </ul>
    </dd>

    <dt>Viri RSS - Atom</dt>
    <dd>
      <p>Viri RSS/Atom so prisotni na večini strani, ki izpisujejo zahteve za IJZ, kar lahko uporabite, da dobite posodobitve in povezave v XML formatu. Najdite URL povezavo v viru RSS/Atom na enega od teh načinov:</p>
        <ul>
          <li>Iščite povezave do<%= image_tag "feed-16.png", :alt => "RSS icon" %> virov RSS.</li>
          <li>Preiščite <code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code>oznako v glavi HTML.</li>
          <li>Dodajte <code>/feed</code> na začetek druge URL povezave.
        </ul>

        <p>Tudi zapletena iskanja imajo vir RSS/Atom. Z njimi lahko počnete najrazličnejše  stvari, npr. razvrščate po organu, po tipu datoteke, po časovnem razponu, po statusu ipd. Za več informacij poglejte <a href="<%= advanced_search_path %>">nasvete za napredno iskanje</a>.
        </p>
    </dd>

    <dt>Strukturirani podatki v formatu JSON</dt>
    <dd>
      <p>Precej strani ima verzije JSON, iz katerih lahko podatke naložite v strukturirani obliki. Najdite jih z:</p>
      <ul>
        <li>Dodajanjem <code>.json</code> na konec URL zapisa.</li>
        <li>Iskanjem oznake <code>&lt;link rel="alternate" type="application/json"&gt;</code> v glavi HTML. </li>
      </ul>

      <p>Zahteve, uporabniki in organi imajo JSON verzije, ki vključujejo osnovne informacije o njih. Vsak vir RSS/Atom ima ekvivalent v JSON obliki, ki vsebuje podatke o seznamu dogodkov na viru.</p>
    </dd>

    <dt>Razpredelnica vseh javnih organov</dt>
    <dd>
      <p>
       Datoteka s seznamom vseh organov na platformi <%= site_name %> je na voljo:
        <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
      </p>

    </dd>


    <dt> 5. Pisalni aplikacijski programski vmesnik (API) </dt>
    <dd>
      <p>
        Pisalni API je namenjen organom za ustvarjanje lastnih zahtevkov v sistemu. Več tehničnih podatkov o pisalnem API je na voljo na <a href="https://github.com/mysociety/alaveteli/wiki/API#write-api">Alaveteli wiki</a>.
      </p>
    </dd>
  </dl>

  <p>Prosimo, <a href="<%= help_contact_path %>">stopite z nami v kontakt,</a> če potrebujete funkcionalnost API, ki še ni na voljo. V veliki meri gre še vedno za delovno verzijo in funkcionalnosti dodajamo sproti na pobudo uporabnikov.</p>

  <div id="hash_link_padding"></div>
</div>
