<% @title = "Stopite v kontakt z nami" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>Stopite v stik z organom, da prejmete uradne informacije</h2>
    <ul>
      <li><a href="<%= new_request_path %>">Tukaj</a> ustvarite zahtevo za informacije javnega značaja, ki jih hranijo javni organi.</li>

      <li>
        Zahtevate zasebne informacije o sebi? Prosimo, preberite našo stran za <a href="<%= help_requesting_path(:anchor => 'data_protection') %>">pomoč</a>.
      </li>
    </ul>

  <% end %>

  <h2>Stopite v stik z <%= site_name %>ekipo</h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
        Prosimo, da najprej preberete zavihek <a href="<%= help_about_path %>">pomoč</a>, ker lahko dobite odgovore na svoja vprašanja hitreje.
      </li>

      <li>Z veseljem bi izvedeli, kako uporabljate našo stran.
        Lahko izpolnite ta obrazec, ali pa pošljete e-poštno sporočilo na <a
                            href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
      </li>

      <li>Smo <strong>neprofitna organizacija</strong> in nismo del vlade.</li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name">Vaše ime:</label>
      <%= f.text_field :name, :size => 20 %>
      (or <%= link_to "sign in", signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email">Vaša e-naslov:</label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject">Zadeva:</label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message">Sporočilo spletni strani:</label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
  </p>

  <% if !@last_request.nil? %>
    <p>
      <label class="form_label" for="contact_message">Vstavite povezavo do zahteve:</label>
      <%=request_link(@last_request) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>
  <% if !@last_body.nil? %>
    <p>
      <label class="form_label" for="contact_message">Vstavite povezavo do javnega organa:</label>
      <%=public_body_link(@last_body) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>

  <p class="form_note">
    Pomagamo vam lahko le s <strong>tehničnimi težavami</strong> ali vprašanji, ki se nanašajo na  ZDIJZ.
  </p>


  <div class="form_button">
    <%= hidden_field_tag(:submitted_contact_form, 1) %>
    <%= submit_tag "Send message to the charity", :data => { :disable_with => "Sending..." } %>
    &lt;-- to stran vodimo mi, ne vlada!
  </div>

<% end %>