<% @title = "Zasluge" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

<p>Alaveteli, programska oprema, ki omogoča platformo <%= site_name %>, je projekt <a href="https://www.mysociety.org">mySociety</a>, angleške organizacije mySociety, ki ustvarja spletne strani, s katerimi državljani zahtevajo odgovornost vlade. To je ena takšnih platform.
Za slovenski prostor sta jo prilagodila inštitut Danes je nov dan (tehnična izvedba) in društvo Transparency International Slovenia (vsebinska izvedba) pod okriljem projekta Vprašaj državo: enostaven dostop do informacij javnega značaja, ki ga je finačno podprl Sklad za NVO Ministrstva za javno upravo.</p>

<dl>
<dt id="development">Razvoj <a href="#development">#</a></dt>
<dd>
 Najlepša hvala vsem <a href="https://github.com/mysociety/alaveteli/graphs/contributors"> sodelavcem in podpornikom</a> platforme<a href="http://alaveteli.org/">Alaveteli</a>.</p>
</dd>

<dt id="helpus">Kako pomagati <a href="#helpus">#</a></dt>
<dd>
  <dt id="volunteer">Postanite prostovoljec <a href="#volunteer">#</a></dt>
  <dd>
    <p>Če ste strastni zagovorniki transparentnosti, ste potrpežljivi in imate na voljo nekaj časa, premislite, če bi postali člani  prostovoljske ekipe moderatorjev platforme <%= site_name %>. Delo vključuje pomoč uporabnikom, pomoč pri reševanju pravnih zadev in sooblikovanje usmeritve platforme, primarno pa poteka preko e-pošte.</p>
    <p>Najprej, <%= link_to 'stopite v stik z nami', help_contact_path %>.</p>
  </dd>

  <dt id="donate">Donirajte <a href="#donate">#</a></dt>
  <dd>
    <p>mySociety, matična organizacija platforme Alaveteli, je dobrodelna organizacija. WhatDoTheyKnow, njihova najbolj obiskana verzija platforme Alaveteli, vsako leto stane več tisoč evrov (za strežnike, vzdrževanje in razvoj).</p>
    <p>Prispevki v skladu z vašimi zmožnostmi zares pomagajo. <a href="https://www.mysociety.org/donate/">Donirajte tukaj.</a>.</p>
<p> Transparency International Slovenia, ki koordinira vzpostavitev platforme Vprašaj državo v Sloveniji, je nevladna in neprofitna organizacija, ki se posveča boju proti korupciji. Če želite podpreti njeno delovanje, obiščite <a href=" https://www.transparency.si/podpri/"> našo spletno stran </a>.  </p>
  </dd>

  <dt id="classification">Urejajte strani<a href="#classification">#</a></dt>
  <dd>
    <p>Biti admin je lahko zabavno! Pomagajte ljudem najti prave zahteve in spremljajte odzive javnih organov preko<a href="<%= categorise_play_path %>"> kategoriziranja</a>.</p>

    <p>Ali pa pomagajte najti kontaktne e-mail naslove za informacije javnega značaja <a href="<%= help_requesting_path(:anchor => 'missing_bodies') %>">tistih organov, pri katerih še nimamo podatkov</a>.</p>
  </dd>

  <dt id="promote">Povejte naprej <a href="#promote">#</a></dt>
  <dd>
    <p>Nimamo resnega proračuna za trženje, zato širjenje dobre besede od ust do ust res pomaga.</p>
      <ul>
        <li>Napišite članek o platformi <%= site_name %>, ali pa o zanimivi zahtevi, na katero ste naleteli.</li>
        <li>Objavljajte o naši strani in o njenih funkcionalnostih na spletnih forumih.</li>
        <li>Povejte prijateljem.</li>
        <li>Povejte lokalnemu časopisu, kako uporabna je naša platforma.</li>
        <li><%= mail_to 'hello@mysociety.org', 'Ask us for leaflets', :encode => "javascript" %> , ki jih boste lahko pustili v svoji najljubši kavarni ali lokalni knjižnici.</li>
      </ul>
  </dd>
</dd>

  <dt id="code">Izboljšajte našo kodo <a href="#code">#</a></dt>
  <dd>
    <p>Ste opazili nekaj, kar bi lahko delovalo bolje? Če ste programer, <a href="https://github.com/mysociety/alaveteli/">pridobite izvorno kodo</a> za naš partnerski projekt <a href="http://alaveteli.org/">Alaveteli</a> in nas povabite k sodelovanju. <%= site_name %> je kodirana v <a href="http://rubyonrails.org/">Ruby on Rails</a>.</p>
  </dd>
</dl>

<div id="hash_link_padding"></div>

</div>
