<% @title = "Pooblaščene osebe za posredovanje IJZ" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">Z dna zahteve za informacije sem prišel sem, kaj se dogaja?<a href="#top">#</a> </dt>

    <dd><p><%= site_name %> je javna storitev. Ljudem pomaga objavljati zahteve za dostop do informacij javnega značaja, nato pa slediti odgovorom in jih tudi deliti naprej.</p>

      <p>Zahtevo, ki ste jo prejeli, je nekdo ustvaril s pomočjo platforme <%= site_name %>. Na zahtevo lahko preprosto odgovorite, kot bi odgovorili na katero koli drugo. Edina razlika je v tem, da bo vaš odgovor zdaj avtomatsko objavljen na spletu.
    </p>
      <p>Če imate skrbi glede zasebnosti, si preberite odgovore spodaj. Morda boste želeli prebrati tudi <a
        href="<%= help_about_path %>">O projektu <%= site_name %></a>, da boste bolje razumeli, kako stran deluje z vidika uporabnika. Lahko preiščete tudi zahteve, ki jih je že prejela vaša organizacija, in preverite njihov status. <p>Veseli smo komentarjev pooblaščenih oseb, ki odgovarjajo na zahteve po ZDIJZ. Lahko <a href="<%= help_contact_path %>">nas kontaktirate</a>.
      </p>
    </dd>

    <dt id="responses">Zakaj objavljate odzive na zahteve? <a href="#responses">#</a> </dt>

    <dd>V tem vidimo veliko prednosti. Predvsem bo to vzpodbudilo javnost, da se bo bolj vključevala v delo vlade. Upamo tudi, da bodo zaradi tega organi na določeno tematiko prejeli manj podvojenih zahtev. Glede na to, da gre za javne podatke, ki bi jih lahko od javnega organa zahteval kdor koli, ni razloga, da jih ne bi javno objavili. </dd>

    <dt id="realpeople">Ali zahteve oddajajo resnični ljudje? <a href="#realpeople">#</a> </dt>

    <dd>Da. Z namenom beleženja odzivov za vsako zahtevo uporabljamo strojno generirane e-poštne naslove. Preden uporabnik poda zahtevo, se mora registrirati z unikatnim e-poštnim naslovom, ki ga potem preverimo. Na strani lahko najdete seznam vseh zahtev, ki jih je oddal določen uporabnik.    </dd>

    <dt id="email_only">E-poštni naslov ni dovolj za dostop do informacij javnega značaja!<a href="#email_only">#</a> </dt>

    <dd>Je. Zahteva mora vsebovati navedbo organa, kateremu se pošilja, osebno ime, firmo ali ime pravne osebe, navedbo o morebitnem zastopniku ali pooblaščencu ter naslov prosilca oziroma njegovega zastopnika ali pooblaščenca. Naslov je lahko tudi e-poštni, res pa lahko v določenih primerih organ zahteva tudi vaš fizični naslov. Brez fizičnega naslova vam organ npr. ne more priporočeno poslati odločbe. </dd>
 
    <dt id="vexatious">Ali morda pošiljate preveč vsiljivih zahtev? <a href="#vexatious">#</a> </dt>

    <dd><p><%= site_name %> ne ustvarja nobenih zahtev. Zahteve posredujemo v imenu uporabnikov, ki so jih ustvarili.</p>
      <p>Če bi veliko ljudi ustvarilo zahteve z različnimi Hotmail e-naslovi, verjetno ne bi mislili, da zahteve zlonamerno pošilja Microsoft. Enako je tudi tu, kjer zahteve ustvarjajo uporabniki platforme <%= site_name %>. Ker so vse zahteve javne, je tudi lažje videti, če kdo ustvarja vsiljive zahteve.</p>

    </dd>

    <dt id="spam_problems">Zahtevo lahko vidimo na platformi <%= site_name %>, e-pošte pa nismo prejeli!<a href="#spam_problems">#</a> </dt>

    <dd><p>Če je zahteva objavljena na strani, smo o njej skušali organ obvestiti po e-pošti. Vsako obvestilo o nezmožnosti dostave e-pošte se bo avtomatsko pojavilo na strani. Uporabljeni e-naslov lahko vidite s klikom na gumb "Preglejte e-poštni naslov za zahtevke za IJZ", ki se pojavi na strani organa. <a
        href="<%= help_contact_path %>">Kontaktirajte nas</a> če menite, da bi morali uporabiti drug e-naslov.</p>
      <p>Zahteve včasih niso dostavljene, ker jih avtomatsko odstranijo filtri za nezaželeno pošto pri IT-oddelkih organov. Organi lahko poskrbijo, da se to ne zgodi, tako da svoje IT-oddelke obvestijo, naj na t.i. beli seznam uvrstijo vso pošto platforme <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong>.
       Lahko nas <a href="<%= help_contact_path %>">kontaktirate</a>, da bomo vašo zahtevo znova poslali in IT-oddelku organov posredovali tehnične podatke o dostavi.
      </p>
      <p>Na vsako zahtevo se lahko odzovete tudi neposredno iz brskalnika, brez potrebe po uporabi e-pošte. To lahko storite s klikom na gumb za odziv na dnu strani z zahtevo.
      </p>
    </dd>

    <dt id="days">Kako je določen rok, ki je prikazan ob zahtevi?<a href="#days">#</a> </dt>

    <dd>

      <p>Zakon o dostopu do informacij javnega značaja pravi:</p>

      <blockquote><p>Organ je dolžan odločiti o zahtevi prosilca <strong>nemudoma</strong>, najkasneje pa v roku 20 delovnih dni od dneva prejema popolne zahteve.</p></blockquote>

      <p>Podrobnosti o štetju delovni dni ali pa o prejemu zahtev izven delovnih ur lahko ostanejo le podrobnosti. Važno je, da se morajo organi odzvati <strong>nemudoma</strong>.</p>

      <p>Če imate dober razlog in bo pri določeni zahtevi odziv daljši, bodo prosilci hvaležni za kratko e-poštno sporočilo z obrazložitvijo situacije. </p>

      <p>Uradniki morajo pogosto opraviti precej <strong>trdega dela</strong>, da odgovorijo na zahteve. Menimo, da bi vsem koristilo, če bi bil ta proces bolj viden javnosti.</p>

    </dd>

    <dt id="days2">Ampak zares, kako izračunate rok?<a href="#days2">#</a> </dt>

    <dd>

      <p>Prosimo, da najprej preberete odgovor na prejšnje vprašanje. Zakonsko je določeno, da se morajo organi na zahteve za IJZ odzvati <strong>nemudoma</strong>. Če jim to ne uspe,je najbolje, da svoje trdo delo jasno prikažejo tako, da razložijo, zakaj traja nekoliko dlje.
   </p>

      <p>Ob vsem tem pa je ključno, da <%= site_name %> pri vsaki zahtevi prikazuje največje zakonsko dovoljeno število dni za odziv. Izračunamo ga takole:</p>

      <ul>

        <li>Če prošnjo prejmemo na delovni dan, to štejemo kot "dan nič", tudi če smo mail prejeli pozno zvečer. Dnevi se končajo ob polnoči. Naslednji delovni dan štejemo kot "dan ena", in tako naprej, vse do <strong><%= AlaveteliConfiguration::reply_late_after_days %> dvajsetega delovnega dne</strong>.</li>

        <li>Če je e-pošta z zahtevo prispela na dan, ki ni delovni, se za "dan ena" šteje naslednji delovni dan. Dostava je dostava, tudi če se zgodi čez vikend.  </li>

        <li>Prosilce spodbujamo, da označijo, kdaj so <strong>pojasnili</strong>svojo zahtevo, da se štetje ponastavi. Včasih tega sicer ne storijo prav. Če opazite tovrstno težavo, nas lahko obvestite, da jo popravimo.</li>
      </ul>

      <p>Izračunan datum je prikazan ob zahtevah z besedilom "V skladu z zakonom bi se moral organ odzvati do...".
      </p>

    </dd>

    <dt id="large_file">Kako lahko pošljem večjo datoteko, ki ne gre v e-poštno sporočilo?<a href="#large_file">#</a> </dt>

    <dd>Namesto z e-pošto se lahko na zahtevo odzovete neposredno iz brskalnika in naložite datoteko. Da to storite, izberite "odgovorite na zahtevo" na dnu strani z zahtevo. <a href="<%= help_contact_path %>">Kontaktirajte nas</a>, če je datoteka večja od 50 MB.
    </dd>

    <dt id="names">Zakaj objavljate imena pooblaščenih oseb in besedilo e-poštnih sporočil? <a href="#names">#</a> </dt>

    <dd>Delo pooblaščenih oseb v javnih organih razumemo kot javno informacijo. Vsebino bomo izbrisali le v izjemnih okoliščinah, glej <a href="<%= help_privacy_path(:anchor => 'takedown') %>">pravila izbrisa</a>.
    </dd>

    <dt id="mobiles">Ali objavljate e-mail naslove in telefonske številke? <a href="#mobiles">#</a> </dt>

    <dd><p>Iz odgovorov avtomatsko brišemo večino e-mail naslovov in telefonskih številk, da preprečimo nezaželeno pošto. Prosimo, da nas <a href="<%= help_contact_path %>">kontaktirate</a>, če smo kaj spregledali.
        Iz tehničnih razlogov številk in e-naslovov ne brišemo vedno iz prilog, npr. določenih PDF dokumentov.</p>
    <p>Če želite izvedeti, kaj smo odstranili, lahko <a
      href="<%= help_contact_path %>">stopite v kontakt z nami</a>.
      <% if AlaveteliConfiguration::enable_annotations %>
        Občasno je e-naslov pomemben del odziva na zahtevo. V teh primerih ga bomo objavili v zakriti obliki s pripisom. <% end %>
    </p>
    </dd>

    <dt id="copyright"><a id="commercial"></a>Kakšna je vaša politika glede avtorskih pravic?<a href="#copyright">#</a> </dt>

    <dd> Naš Zakon o dostopu do informacij javnega značaja ne razlikuje med prosilci, zato lahko kdorkoli, od koderkoli na svetu, zahteva isti dokument in dobi njegovo kopijo. 

      Če menite, da bomo z objavo dokumenta na spletu kršili vaše avtorske pravice, nas lahko <a href="<%= help_contact_path %>">kontaktirate</a> in prosite za odstranitev. Da dodatno ne zapravljamo davkoplačevalskega denarja s podvajanjem zahtev, vas prosimo za tehten razmislek o tovrstni prošnji.  </dd>

    <dt id="allowed_responses">Svoj odgovor na staro zahtevo na strani <%= site_name %> sem prejel nazaj!<a href="#allowed_responses">#</a> </dt>
      <dd>Po šestih mesecih neaktivnosti platforma <%= site_name %> omeji odzive na zahteve, da ustavi vsiljivo internetno pošto. Po poteku tega obdobja lahko na zahtevo odgovori le poobaščena oseba  javnega organa. Po dvanajstih mesecih je zahteva zaprta za vse odzive. Če bi jo želeli ponovno odpreti,se <a href="<%= help_contact_path %>">obrnite na nas</a>.
      </dd>


  </dl>

  <p><strong>Če še niste</strong>, preberite zavihek <a href="<%= help_about_path %>">Uvod</a> --&gt;
    <br><strong>O nas</strong>, <a href="<%= help_credits_path %>"> Zasluge </a> ali pa <a href="<%= help_api_path %>"> Aplikacijski programski vmesnik (API) </a> --&gt;

    <div id="hash_link_padding"></div>
</div>
