<% @title = "Zasebnost" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>

    <dt id="email_address">Kdo bo lahko videl moj e-naslov? <a href="#email_address">#</a> </dt>

    <dd><p>Vašega e-naslova ne bomo delili z nikomer, razen če nas k temu zavezuje zakon ali na vašo izrecno željo.
 Naslova ne bo videl niti javni organ, ki mu pošiljate zahtevo, saj vidi le e-naslov
        @<%= AlaveteliConfiguration::incoming_email_domain %>, ki je specifičen za dano zahtevo.  </p>
      <p>Če pošljete sporočilo drugemu uporabniku strani, mu bo vaš e-naslov viden, na kar vas bomo tudi opozorili.</p>
    </dd>

    <dt id="nasty_spam">Ali boste na moj e-naslov pošiljali nezaželeno pošto? <a href="#nasty_spam">#</a> </dt>
    <dd>Ne. Po prijavi na <%= site_name %>, vam pošiljamo le e-pošto, ki je vezana na vaše zahteve, e-poštna obvestila, na katera ste se prijavili, ali druga obvestila, za katera ste nas pooblastili. Vašega e-naslova ne bomo nikoli posredovali ali prodali naprej, razen če nas k temu zavezuje zakon ali na vašo izrecno željo.</dd>

    <dt id="public_request">Zakaj bosta moje ime in moja zahteva javno objavljena na strani? <a href="#public_request">#</a> </dt>

    <dd>
      <p>Vašo zahtevo javno objavimo, da jo lahko vsakdo prebere in uporabi informacije, ki ste jih našli. Zahtev običajno ne brišemo (<a href="#delete_requests">več informacij</a>).
      </p>
      <p>
        Vaše ime je vezano na vašo zahtevo, tako da mora prav tako biti objavljeno. To se nam zdi pošteno, saj bomo objavili tudi ime javnega uslužbenca, ki bo odgovoril na vašo zahtevo. Če uporabite svoje pravo ime, bodo ljudje lažje stopili v kontakt z vami, da vam pomagajo pri raziskavi ali pa kampanji.      </p>
      <p>V skladu z zakonom morate pri oddaji zahteve navesti svoje ime. Če ne želite objaviti svojega pravega imena, si preberite možnosti pri naslednjem vprašanju.   </p>
    </dd>

    <dt id="real_name">Ali lahko pri oddaji zahteve uporabim psevdonim? <a href="#real_name">#</a> </dt>



    <dd> Po zakonu mora zahteva vsebovati tudi vaše ime, saj lahko organ le na ta način z vami formalno posluje, na vas naslavlja pisne odločbe, zahtevke za dopolnitev ipd.  Če zahteve kljub temu ne želite oddati s svojim imenom, organ nanjo torej ne bo dolžan odgovoriti. Takšno zahtevo lahko sicer organ po ZDIJZ obravnava kot »neformalno zahtevo« in nanjo v imenu transparentnosti mogoče vseeno odgovori. 
      <p>Tudi če bo organ odgovoril na zahtevo, ki ste jo podali pod psevdonimom, pa se ob zaznavi nepravilnosti pri reševanju vaše zahteve zaradi psevdonima ne boste mogli pritožiti Informacijskemu pooblaščencu.</p>

      <p>Obstaja več dobrih alternativ za uporabo psevdonima.</p>

      <ul>
        <li>Uporabite drugačno obliko svojega imena. "G. Arthur Thomas Roberts" je prav tako veljavno kot "Arthur Roberts",
          "A. T. Roberts", ali pa "Mr Roberts", ampak <strong>ne</strong> kot zgolj "Arthur" ali "A.T.R.".
        </li>
        <li>Ženske lahko uporabijo svoje dekliško ime.</li>
        <li>V večini primerov lahko uporabite katero koli ime, pod katerim ste znani, ali ki ga splošno uporabljate.</li>
        <li>Uporabite ime organizacije, uradno ali poslovno ime podjetja ali podjetnika.</li>
        <li>Prosite nekoga drugega, da v vašem imenu ustvari zahtevo.</li>
        <li>Če se vam res zatakne, nas lahko prosite, da zahtevo ustvarimo namesto vas.  <a href="<%= help_contact_path %>">Kontaktirajte nas</a> z jasno razlago, zakaj zahteve ne morete ustvariti sami, ali s pomočjo prijatelja. Nimamo sredstev, da bi to počeli za vsakogar.</li>
      </ul>

      <p>Prosimo, da se pri ustvarjanju zahtev ne izdajate za drugo osebo.</p>

    </dd>

    <dd>
      <p>Če javni organ zahtevano informacijo poseduje le v papirni obliki, vas bodo morda prosili za poštni naslov. V tem primeru jih lahko skušate prepričati, da dokumente skenirajo. </p>

      <p>Če to ne zaleže in jim želite poštni naslov posredovati zasebno, označite svojo zahtevo s pripisom "Podatke mi bodo poslali po pošti" in vam bo v ta namen dodeljen nov e-poštni naslov.</p>
    </dd>

    <dt id="delete_requests">Ali lahko izbrišete moje zahteve, ali pa spremenite moje ime?  <a href="#delete_requests">#</a> </dt>

    <dd>

      <p><%= site_name %> je stalen, javni arhiv zahtev za informacije javnega značaja. Tudi če vam osebno odgovor na vašo zahtevo ne bo več koristil, bo morda koristen za druge uporabnike. Zahtev zato ne bomo brisali.</p>

      <p>V izjemnih primerih bomo morda vaše ime spremenili, <a href="#takedown">poglejte naslednje vprašanje</a>.
        Odstranili bomo morda tudi nekatere osebne podatke.
      </p>

      <p>Če vas ob oddaji zahteve to skrbi, preverite sekcijo o <a href="#real_name">psevdonimih</a>.</p>

    </dd>

    <dt id="takedown"Ali lahko odstranite moje osebne podatke? <a href="#takedown">#</a> </dt>

    <dd>

      <p>Če na strani opazite svoje osebne podatke, za katere bi želeli, da jih odstranimo ali skrijemo, prosimo, da nas<a href="<%= help_contact_path %>">o tem obvestite</a>.
        Povejte točno, kateri podatki se vam zdijo problematični, zakaj jih želite izbrisati in kje na strani se nahajajo.</p>

      <p>Če gre za občutljive osebne podatke, ki so bili objavljeni nenamerno, jih običajno odstranimo. Standardno sicer upoštevamo zgolj tiste zahteve po umiku informacij, ki jih je podal vpleteni posameznik. Pri posebej občutljivih podatkih pa bomo za opozorila hvaležni tudi vsem ostalim.</p>

      <p>Glede objavljanja imen uradnikov in uslužbencev javnih organov verjamemo, da obstaja jasen javni interes. Takšna imena bomo umaknili le v izrednih okoliščinah, npr. če je z objavo imena ogrožena posameznikova varnost. Če ste ena takšnih oseb in želite, da vaše ime umaknemo, bomo potrebovali zahtevo vašega nadrejenega. Takšna zahteva mora prikazati obstoj nevarnosti, ki pretehta nad javnim interesom, hkrati pa ime uslužbenca ni objavljeno niti na spletni strani organizacije.</p>

      <p>Pri vseh ostalih zahtevah za umik podatkov upoštevamo v zvezi z objavo javni interes. <a href=" http://www.pisrs.si/Pis.web/pregledPredpisa?id=ZAKO7959"> 74. člen</a>
Zakona o varstvu osebnih podatkov nam to dovoljuje. Ker prilog ne moremo avtomatsko urejati, bomo običajno organe zaprosili, naj nam jih pošljejo z odstranjenimi osebnimi podatki.</p>

    </dd>


  </dl>

  <p><strong>Izvedite več</strong> v zavihku<a href="<%= help_officers_path %>">Pooblaščene osebe za posredovanje IJZ</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
