<% @title = "Ustvarjanje zahtev" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority">Nisem prepričan, na kateri organ naj naslovim svojo zahtevo. Kako naj ugotovim? <a href="#which_authority">#</a> </dt>

    <dd>
      <p>Razvozlati zapleteno strukturo javnega sektorja in ugotoviti, kje se skrivajo zahtevane informacije, zna biti težko. Tukaj je nekaj nasvetov:
      </p>
      <ul>
        <li>Preiščite obstoječe zahteve na <%= site_name %>, ki so podobne vaši zahtevi.</li>
        <li>Ko boste našli organ, ki bi lahko razpolagal z želenimi informacijami, uporabite
 povezavo do "domače strani", da ugotovite, kaj točno počnejo.</li>
        <li>Stopite v kontakt z organom po telefonu ali e-pošti in vprašajte, če razpolaga z informacijami, ki jih iščete.</li>
        <li>Ne skrbite preveč glede izbire javnega organa. Če se obrnete na napačno ustanovo, vam bodo svetovali, na koga se lahko obrnete.
</li>
        <li>Če imate posebej zapleten primer, se prosim <a href="<%= help_contact_path %>">obrnite na nas</a> za pomoč. V primeru sumov nepravilnosti se lahko obrnete tudi na naš <a href=" https://www.transparency.si/spregovori/"> Center Spregovori!</a> </li>
      </ul>

    </dd>



    <dt id="missing_body">Manjka vam javni organ, od katerega želim zahtevati informacije!<a href="#missing_body">#</a> </dt>

    <dd>
      <p>Prosimo, da <a href="<%= new_change_request_path %>">nam sporočite</a> ime javnega organa in  uradni kontaktni e-naslov za dostop do informacij javnega značaja, če ga najdete.</p>
      <p>Če bi radi dodali novo kategorijo javnih organov, bomo veseli vaših predlogov.
      </p>

    </dd>

    <dt id="authorities">Zakaj so vključeni tudi organi, ki niso zavezanci po Zakonu o dostopu o informacijah javnega značaja?<a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> vam omogoča podajanje zahtev za informacije pri zelo različnih organizacijah, ki:</p>

      <ul>
        <li> so zavezanke po ZDIJZ</li>
        <li> prostovoljno delujejo v skladu z ZDIJZ</li>
        <li> niso zavezanke po ZDIJZ, vendar mislimo, da bi morali biti, saj nosijo precejšnjo javno odgovornost</li>
      </ul>

      <p>Pri slednjih platforma služi tudi širjenju obsega ZDIJZ. Tudi če vam organizacija ni zakonsko dolžna odgovoriti, lahko to stori prostovoljno. </p>

    </dd>

    <dt id="focused">Zakaj mora biti moja zahteva jasno usmerjena?<a href="#focused">#</a> </dt>

    <dd>

      <p>
        Prosimo, da v svojo zahtevo vključite le nujne podatke, saj bo na ta način lažje ugotoviti, za katere informacije ste zaprosili. Prosimo, da <i>ne</i> navajate:
      </p>

      <ul>
        <li>dodatnih pojasnil o vašem primeru</li>
        <li>žaljivih izjav</li>
      </ul>

      <p>
       Če se to zgodi, bomo vašo zahtevo morda morali umakniti, da preprečimo kršitve Kazenskega zakonika. Kratka in jedrnata sporočila organom olajšajo postopek, kar pomeni, da boste odgovor prejeli hitreje.
      </p>

      <p>
        Če želite pridobiti informacije, s katerimi boste podprli določna dejstva ali kampanjo, se lahko oprete tudi na Konvencijo Sveta Evrope o dostopu do uradnih dokumentov. Informacije so močno orodje. Četudi te strani ne boste uporabljali za vodenje kampanje, boste tu našli precej uporabnih informacij. Spodbujamo vas, da vašo kampanjo vodite drugje - preprost in učinkovit način je, da <%= link_to 'začnete pisati blog',
          "http://wordpress.com/"%>.
        <% if AlaveteliConfiguration::enable_annotations %>
          Povezavo do svoje kampanje lahko na naši strani navedete kot opombo ob svoji zahtevi (opombe lahko dodajate po oddaji zahteve).
        <% end %>
      </p>

    </dd>

    <dt id="fees">Ali me oddaja zahteve kaj stane?<a href="#fees">#</a> </dt>

    <dd>

      <p>Oddaja zahteve za informacije javnega značaja je skoraj vedno brezplačna.</p>

      <p>Organi pogosto objavljajo nepotrebna, generična besedila o tem, da lahko posredovane informacije zaračunajo. Takšne izjave ignorirajte. Posredovanja informacij vam praktično nikoli ne bodo zaračunali. Zaračunajo lahko le materialne stroške pretvarjanja informacij, pa še to le pod pogojem, da ste prej pristali na ceno.</p>

      <p> </p>

 </dd>



    <dt id="quickly_response">Kako hitro bom prejel odgovor? <a href="#quickly_response">#</a> </dt>

    <dd>
      <p>Javni organ se mora v skladu z zakonom <strong>nemudoma</strong> odzvati na zahteve.
      </p>

      <p>Skoraj v vseh primerih se je dolžan odzvati najkasneje v roku 20 delovnih dni. Če morate svojo zahtevo dodatno pojasnjevati, se lahko rok podaljša (<a href="<%= help_officers_path(:anchor => 'days') %>"></a>).
      </p>
      <p><%= site_name %> vas bo obvestila preko e-pošte, če odgovora ne dobite pravočasno. Organu lahko v tem primeru pošljete opomnik in ga opozorite, da morda krši predpise.</p>

    </dd>

    <dt id="no_response">Kaj, če nikoli ne prejmem odgovora?<a href="#no_response">#</a> </dt>

    <dd>
      <p>Če odgovora ne prejmete, imate več možnosti.</p>
      <ul>
        <li>Mogoče je prišlo do tehnične težave in organ ni nikoli prejel vaše zahteve. Organ je smiselno poklicati in vljudno preveriti, če so zahtevo prejeliv svoj e-poštni nabiralnik.    </li>
        <li>Če zahteve niso prejeli, gre morda za težavo s "filtri vsiljene pošte". Organ napotite na odgovor  '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">Zahtevo vidim na <%= site_name %>, a je nismo prejeli po e-pošti!</a>'
          v posebni sekciji zavihka "Pomoč".
        </li>
        <li>Če še vedno niste prišli do odgovora, lahko zaprosite za notranji nadzor in se pritožite Informacijskemu pooblaščencu.
          Preberite našo stran '<a href="<%= help_general_path(:template => 'unhappy') %>">Nezadovoljni z odgovorom, ki ste ga prejeli?</a>'.
      </ul>
    </dd>

    <dt id="not_satifised">Nezadovoljni z uradnim odgovorom?<a href="#not_satifised">#</a> </dt>
    <dd>Če niste prejeli informacij, ki ste jih zahtevali, ali pa jih niste prejeli pravočasno, preberite našo stran '<a href="<%= help_general_path(:template => 'unhappy') %>">Nezadovoljni z odgovorom, ki ste ga prejeli?</a>'.
    </dd>

    <dt id="reuse">Pravijo, da informacij ne smem ponovno uporabiti!<a href="#reuse">#</a> </dt>
    <dd>
      <p>Organi pogosto dodajo generično sporočilo o prepovedi ponovne rabe informacij, a ZDIJZ tudi to izrecno omogoča. Bistveni element ponovne uporabe je dodana vrednost informaciji javnega značaja.    </p>

      <p>Prejete informacijelahko uporabite v članku, jih povzemate, citirate ali pa jih poobjavite v celoti, kot to počnemo mi, čeprav to v teoriji morda ni vedno mogoče. Poglejte <a href="<%= help_officers_path(:anchor => 'copyright') %>">našo politiko avtorskih pravic</a>.</p>

    </dd>

    <dt id="ico_help">Ali mi lahko še bolj natančno pojasnite, kako deluje podajanje zahtev za informacije? <a href="#ico_help">#</a> </dt>

    <dd>
      <p>Preverite
        <a href="https://www.ip-rs.si/informacije-javnega-zna%C4%8Daja/ijz-pri-organih/kako-napisati-zahtevo">postopek oddaje zahteve</a> na straneh Informacijskega pooblaščenca.</p>

 </dd>

    <dt id="data_protection">Ali lahko zahtevam informacije o sebi? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>Ne. Zahteve na platformi <%= site_name %> so javne in v skladu z ZDIJZ, zaradi česar vam ne morejo pomagati pri iskanju informacij o specifični osebi.</p>

      <p>Če želite vedeti, katere informacije organ hrani o vas, se lahko sklicujete na Zakon o varstvu osebnih podatkov. Podstran "<a
        href="https://www.ip-rs.si/zakonodaja/zakon-o-varstvu-osebnih-podatkov/">Zakon o varstvu osebnih podatkov (ZVOP-2)</a>" (na spletni strani Informacijskega pooblaščenca) vam lahko pri tem pomaga.</p>

      <p>Če opazite, da je nekdo v svojo zahtevo vključil osebne podatke (morda nenamerno), vas prosimo za <a href="<%= help_contact_path %>">obvestilo</a>, da lahko podatke odstranimo.</p>
    </dd>


    <dt id="private_requests">Svojo zahtevo želim oddati zaupno! (Vsaj dokler ne objavim svoje zgodbe.) <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %> je trenutno namenjena le javnim zahtevam. Vse prejete zahteve so avtomatsko objavljene, da jih lahko vsakdo prebere.</p>
      <p>Če želite ustvariti zahtevo v zaupnem načinu, stopite v neposreden kontakt z organom. </p>
    </dd>

   <dt id="multiple">Ali lahko enako zahtevo pošljem več organom, npr. občinam? <a href="#multiple">#</a> </dt>

    <dd>Prosimo vas, da preizkusno verzijo svoje zahteve najprej pošljete le določenim organom. Njihovi odzivi vam bodo pomagali izboljšati besedilo vaše zahteve. Trenutno ne obstaja avtomatiziran sistem za množično pošiljanje, lahko pa zahtevo kopirate in prilepite sami.

  </dd>

    <dt id="offsite">Zahtevo sem ustvaril na drug način, kako jo naložim na platformo?<a href="#offsite">#</a> </dt>

    <dd><%= site_name %> je arhiv zahtev, narejenih na tej platformi in ne skuša hraniti vseh zahtev za informacije javnega značaja. Nikoli ne bomo podpirali nalaganja drugih zahtev, saj ne bi mogli preveriti, če so odgovore res poslali navedeni organi. Če vam je to res pomembno, lahko s pomočjo platforme <%= site_name %> še enkrat  vložite isto zahtevo.</dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation">Kako moderirate komentarje? <a href="#moderation">#</a> </dt>

      <dd>
        <p>Komentarji na strani <%= site_name %> so namenjeni pomoči pri iskanju informacij, ali usmerjanju na druga primerna mesta. Pridržujemo si pravico odstraniti vse ostalo. </p>
        <p>Neskončne politične debate niso dovoljene. Povezavo do primernega foruma ali kampanje objavite kje drugje.</p>
      </dd>
    <% end %>

  </dl>

  <p><strong>V nadaljevanju</strong> si lahko preberete o <a href="<%= help_privacy_path %>">pravilih zasebnosti</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
