<% @title = "Nezadovoljni z informacijo javnega značaja?" %>

<% if @info_request %>
  <h1>Nezadovoljni z odzivom na svojo zahtevo '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>Nezadovoljni z odzivom na svojo zahtevo?</h1>
<% end %>

<p>Če ...</p>

<ul>
  <li>odgovora niste prejeli v roku 20 delovnih dni</li>
  <li>niste prejeli vseh informacij, ki ste jih zahtevali <strong>ali</strong></li>
  <li>je bila vaša zahteva zavrnjena brez legitimnega razloga</li>
</ul>

<p>... lahko</p>

<ol>
  <li>zaprosite <strong>za notranji nadzor</strong> pri javnem organu.</li>
  <li>Če to ne pomaga, se pritožite <strong>Informacijskemu pooblaščencu</strong>.</li>
  <li>V vsakem primeru svetujemo, da <strong>se poslužite tudi drugih načinov</strong>, da pridobiteodgovare na svoja vprašanja.</li>
</ol>

<h1 id="internal_review">1. Prošnja za notranji nadzor <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if @info_request %>
    <%= link_to "Request an internal review", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> Ustvarite sporočilo, s katerim organ prosite za pregled vaše zahteve.
  <% else %>
    Na dnu strani z ustrezno zahtevo na <%= site_name %> izberite "zahtevaj notranji nadzor". Nato napišite sporočilo, s katerim prosite za notranji nadzor vaše zahteve. K sporočilu dodajte povezavo do svoje zahteve, da bo jasno, o kateri zahtevi govorite.<% end %>
</p>

<p>Notranji nadzori so običajno hitri. Če traja več kot 20 dni, bi vas moral organ o tem obvestiti, ali pa vam sporočiti, da je notranji nadzor potrdil odločitev za zadržanje informacij.
</p>

<h1 id="complaining">2. Pritožba Informacijskemu pooblaščencu <a class="hover_a" href="#complaining">#</a> </h1>

<p>Če ste z odgovorom organa še vedno nezadovoljni, se lahko pritožite Informacijskemu pooblaščencu. Za več informacij sledite povezavi <a href="https://www.ip-rs.si/obrazci/obrazci-s-podro%C4%8Dja-dostopa-do-informacij-javnega-zna%C4%8Daja/">o obrazcih za dostop do informacij javnega značaja</a>
  na spletni strani Informacijskega pooblaščenca.
</p>

<p>Pri pošiljanju relevantnih informacij Informacijskemu pooblaščencu lahko bodisi  <% if @info_request %>
    navedete povezavo do svoje zahteve
    <strong><%=h request_url(@info_request) %></strong>
  <% else %>
    vključite povezavo do svoje zahteve na <%= site_name %>
<% end %> ali pa natisnete celotno stran s svojo zahtevo in vse priponke.
</p>

<p><%= site_name %> na tej točki ni pristojna za obravnavo zahtev - preda jih v sistem Informacijskega pooblaščenca. K svoji zahtevi lahko dodate opombe in na ta način o napredku obveščate tudi ostale uporabnike.</p>

<p>Opozorilo. Informacijski pooblaščenec ima običajno precejšnjo zalogo dela, zaradi česar lahko traja leta, preden odloči o vaši zahtevi. Če ste na tej točki, morate razumeti, da informacije ne boste prejeli zelo hitro. Kljub temu je morda smiselno prispevati k boljšemu pretoku informacij. Informacije lahko skušate pridobiti tudi na <strong>druge načine...</strong></p>

<h1 id="other_means">3. Drugi načini za iskanje odgovorov <a class="hover_a" href="#other_means">#</a> </h1>

<p>Informacije lahko skušate pridobiti tudi drugače .</p>

<ul>
  <li>Ustvarite <strong>novo zahtevo za informacije javnega značaja</strong>, ali pa za dokumentacijo, ki se posredno tiče vaše zahteve.   <a href="<%= help_contact_path %>">Lahko nas prosite za pomoč,</a>če se vam pri tem zatakne.</li>
  <li>Če je vpleten kakšen <strong>drug javni organ</strong> ali podjetje v javni lasti,
    zahtevajte informacije tudi od njih.</li>
  <li>Pišite <strong>poslancem</strong> ali drugim politikom in jih zaprosite za pomoč pri iskanju odgovorov. Poslanci lažje komunicirajo z ministrom ali uradom in od njih zahtevajo odgovore.</li>
  <% if can_ask_the_eu?(@country_code) %>
    <li>
     Poskusite <%= link_to 'informacije pridobiti od Evropske unije',
      'http://www.asktheeu.org' %>. Vsak od 500 milijonov ljudi, ki živijo v državah Evropske unije (tako državljani kot rezidenti), ima zakonsko zagotovljeno pravico, da organe EU zaprosi za informacije. <%= link_to 'Vprašajte EU', 'http://www.asktheeu.org' %> je verzija te spletne strani, ustvarjena za celotno območje EU </li>
  <% end %>
  <li>Za ideje vprašajte <strong>druge uporabnike</strong>, ki jih zanima podobna tematika kot vas. Včasih jih lahko najdete z brskanjem po tej strani - z vsakim registriranim uporabnikom namreč lahko stopite v kontakt. Morda se drugi že družijo na kakšnem internetnem forumu ali pa v skupini. Lahko tudi sami oblikujete lokalno kampanjo in se dogovorite za sestanek s predstavniki organov.</li>
</ul>